#container-logo {
  margin: -0.5rem;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: 0 4px 2px -2px rgb(201, 200, 200);
}

#sized-box {
  height: 64px;
  width: 50%;
  background-color: powderblue;
}