#map-container {
  border-radius: 0.5rem;
}

#card-map, #map-container {
  float: right;
}

#card-sankey, #card-sankey{
  float: left;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 22px;
  height: 22px;
}

.stations circle {
  fill: rgb(231, 59, 43);
  stroke: rgb(66, 66, 66);
  stroke-width: 1.5px;
}

.marker:hover{
  cursor: pointer;
}

.marker:hover > circle {
  fill:yellow;
  stroke:yellow;
  stroke-width:2;
}

.tooltip {
  font-size: 10px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
  color: #FFFFFF;
  border-radius: 4px;
}

/* Sankey diagram */

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.sankey-container{
  justify-content: center;
}

textarea{
  resize: none;
}